certifi==2023.5.7
fastapi==0.100.0
gpt_index==0.7.7
gradio==3.36.1
langchain==0.0.232
llama_index==0.7.1
pydantic==1.10.11
pymongo==4.4.0
pytest==7.4.0
Requests==2.31.0
slack_bolt==1.18.0
slack_sdk==3.21.3
uvicorn==0.22.0
sentence_transformers
